In [1]:
import numpy as np
import pandas as pd

In [2]:
match_df=pd.read_csv("matches.csv")
delivery_df=pd.read_csv("deliveries.csv")

In [3]:
match_df.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [4]:
match_df.shape

(756, 18)

In [5]:
match_df.columns

Index(['id', 'Season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [6]:
match_df.drop(["toss_winner","toss_decision","player_of_match","umpire1","umpire2","umpire3"],axis=1,inplace=True)

In [7]:
match_df.head()

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal"
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,normal,0,Rising Pune Supergiant,0,7,Maharashtra Cricket Association Stadium
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,10,Saurashtra Cricket Association Stadium
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,normal,0,Kings XI Punjab,0,6,Holkar Cricket Stadium
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium

In [8]:
match_df.shape

(756, 12)

In [9]:
delivery_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [10]:
delivery_df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [11]:
delivery_df.drop(["bowler","is_super_over","dismissal_kind","fielder","wide_runs","legbye_runs","noball_runs"] ,axis=1, errors='ignore')

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bye_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,0,0,0,0,0,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,0,0,0,0,0,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,0,0,4,0,4,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,0,0,0,0,0,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,0,0,0,2,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,0,0,1,0,1,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,0,0,2,0,2,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,0,0,1,0,1,SR Watson
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,0,0,2,0,2,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,0,0,SN Thakur

In [12]:
delivery_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [13]:

delivery_df.shape

(179078, 21)

In [14]:
total_score_df=(delivery_df.groupby(["match_id","inning"]).sum()["total_runs"].reset_index())

In [15]:

total_score_df

      match_id  inning  total_runs
0            1       1         207
1            1       2         172
2            2       1         184
3            2       2         187
4            3       1         183
...        ...     ...         ...
1523     11413       2         170
1524     11414       1         155
1525     11414       2         162
1526     11415       1         152
1527     11415       2         157

[1528 rows x 3 columns]

In [16]:
total_score_df=total_score_df[total_score_df["inning"]==1]

In [17]:
total_score_df

      match_id  inning  total_runs
0            1       1         207
2            2       1         184
4            3       1         183
6            4       1         163
8            5       1         157
...        ...     ...         ...
1518     11347       1         143
1520     11412       1         136
1522     11413       1         171
1524     11414       1         155
1526     11415       1         152

[756 rows x 3 columns]

In [18]:
match_df

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal"
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,normal,0,Rising Pune Supergiant,0,7,Maharashtra Cricket Association Stadium
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,10,Saurashtra Cricket Association Stadium
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,normal,0,Kings XI Punjab,0,6,Holkar Cricket Stadium
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium
...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,normal,0,Mumbai Indians,0,9,Wankhede Stadium
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,normal,0,Mumbai Indians,0,6,M. A. Chidambaram Stadium
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,normal,0,Delhi Capitals,0,2,ACA-VDCA Stadium
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,normal,0,Chennai Super Kings,0,6,ACA-VDCA Stadium
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,normal,0,Mumbai Indians,1,0,Rajiv Gandhi Intl. Cricket Stadium

In [19]:
match_df=(match_df.merge(total_score_df[["match_id","total_runs"]],left_on="id" ,right_on="match_id"))

In [20]:
match_df

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal",1,207
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,normal,0,Rising Pune Supergiant,0,7,Maharashtra Cricket Association Stadium,2,184
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,10,Saurashtra Cricket Association Stadium,3,183
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,normal,0,Kings XI Punjab,0,6,Holkar Cricket Stadium,4,163
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium,5,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,normal,0,Mumbai Indians,0,9,Wankhede Stadium,11347,143
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,normal,0,Mumbai Indians,0,6,M. A. Chidambaram Stadium,11412,136
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,normal,0,Delhi Capitals,0,2,ACA-VDCA Stadium,11413,171
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,normal,0,Chennai Super Kings,0,6,ACA-VDCA Stadium,11414,155
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,normal,0,Mumbai Indians,1,0,Rajiv Gandhi Intl. Cricket Stadium,11415,152

In [21]:
teams=list(match_df["team1"].unique())

teams

In [22]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Gujarat Lions',
 'Rising Pune Supergiant',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Delhi Daredevils',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Deccan Chargers',
 'Kochi Tuskers Kerala',
 'Pune Warriors',
 'Rising Pune Supergiants',
 'Delhi Capitals']

In [23]:

teams=["Sunrisers Hyderabad",
       "Mumbai Indians",
       "Royal Challengers Bangalore",
       "Kolkata Knight Riders",
       "Kings XI Punjab",
       "Chennai super kings",
       "Rajasthan Royals",
       "Delhi Capitals"]

In [24]:
match_df["team1"]=match_df["team1"].str.replace("Delhi Daredevils","Delhi Capitals")
match_df["team2"]=match_df["team2"] .str.replace("Delhi Daredevils","Delhi Capitals")
match_df["team1"]=match_df["team1"] .str.replace("Deccan Charges","Sunrisers Hyderabad")
match_df["team2"]=match_df["team2"] .str.replace("Deccan Charges","Sunrisers Hyderabad")
match_df["team1"]=match_df["team1"] .str.replace("Gujarat Lions","Gujarat Titans")
match_df["team2"]=match_df["team2"] .str.replace("Gujarat Lions","Gujarat Titans")

In [25]:

match_df["team1"].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Titans',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Capitals', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants'],
      dtype=object)

In [26]:
match_df=match_df[match_df["team1"].isin(teams)]
match_df=match_df[match_df["team2"].isin(teams)]

In [27]:
match_df["team1"].unique()

array(['Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Capitals',
       'Mumbai Indians', 'Rajasthan Royals'], dtype=object)

In [28]:
match_df.shape

(425, 14)

In [29]:
match_df.head()

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal",1,207
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Capitals,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium,5,157
6,7,IPL-2017,Mumbai,09-04-2017,Kolkata Knight Riders,Mumbai Indians,normal,0,Mumbai Indians,0,4,Wankhede Stadium,7,178
7,8,IPL-2017,Indore,10-04-2017,Royal Challengers Bangalore,Kings XI Punjab,normal,0,Kings XI Punjab,0,8,Holkar Cricket Stadium,8,148
9,10,IPL-2017,Mumbai,12-04-2017,Sunrisers Hyderabad,Mumbai Indians,normal,0,Mumbai Indians,0,4,Wankhede Stadium,10,158

In [30]:
match_df["dl_applied"].value_counts()

dl_applied
0    413
1     12
Name: count, dtype: int64

In [31]:
match_df=match_df[match_df["dl_applied"]==0]

In [32]:
match_df.shape

(413, 14)

In [33]:
match_df.columns

Index(['id', 'Season', 'city', 'date', 'team1', 'team2', 'result',
       'dl_applied', 'winner', 'win_by_runs', 'win_by_wickets', 'venue',
       'match_id', 'total_runs'],
      dtype='object')

In [34]:
match_df

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal",1,207
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Capitals,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium,5,157
6,7,IPL-2017,Mumbai,09-04-2017,Kolkata Knight Riders,Mumbai Indians,normal,0,Mumbai Indians,0,4,Wankhede Stadium,7,178
7,8,IPL-2017,Indore,10-04-2017,Royal Challengers Bangalore,Kings XI Punjab,normal,0,Kings XI Punjab,0,8,Holkar Cricket Stadium,8,148
9,10,IPL-2017,Mumbai,12-04-2017,Sunrisers Hyderabad,Mumbai Indians,normal,0,Mumbai Indians,0,4,Wankhede Stadium,10,158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747,11343,IPL-2019,Mohali,03-05-2019,Kings XI Punjab,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,7,IS Bindra Stadium,11343,186
748,11344,IPL-2019,Delhi,04-05-2019,Rajasthan Royals,Delhi Capitals,normal,0,Delhi Capitals,0,5,Feroz Shah Kotla Ground,11344,124
749,11345,IPL-2019,Bengaluru,04-05-2019,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Royal Challengers Bangalore,0,4,M. Chinnaswamy Stadium,11345,179
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,normal,0,Mumbai Indians,0,9,Wankhede Stadium,11347,143
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,normal,0,Delhi Capitals,0,2,ACA-VDCA Stadium,11413,171

In [35]:
match_df=match_df[["match_id","city","winner","total_runs"]]

In [36]:
delivery_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [37]:
delivery_df=delivery_df[delivery_df["inning"]==2]

In [38]:
delivery_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86240 entries, 125 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          86240 non-null  int64
 1   inning            86240 non-null  int64
 2   batting_team      86240 non-null  object
 3   bowling_team      86240 non-null  object
 4   over              86240 non-null  int64
 5   ball              86240 non-null  int64
 6   batsman           86240 non-null  object
 7   non_striker       86240 non-null  object
 8   bowler            86240 non-null  object
 9   is_super_over     86240 non-null  int64
 10  wide_runs         86240 non-null  int64
 11  bye_runs          86240 non-null  int64
 12  legbye_runs       86240 non-null  int64
 13  noball_runs       86240 non-null  int64
 14  penalty_runs      86240 non-null  int64
 15  batsman_runs      86240 non-null  int64
 16  extra_runs        86240 non-null  int64
 17  total_runs        86240 non-null  int64
 18  player_dismissed  4216 non-null   object
 19  dismissal_kind    4216 non-null   object
 20  fielder           3036 non-null   object
dtypes: int64(13), object(8)
memory usage: 14.5+ MB

In [39]:
delivery_df=match_df.merge(delivery_df, on ="match_id")

In [40]:
delivery_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,0,0,0,1,0,1,NaN,NaN,NaN
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,0,0,0,2,0,2,NaN,NaN,NaN
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,0,0,0,4,0,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47405,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,2,A Mishra,...,0,0,0,0,1,0,1,NaN,NaN,NaN
47406,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,3,K Paul,...,0,0,0,0,0,0,0,NaN,NaN,NaN
47407,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,4,K Paul,...,0,0,0,0,1,0,1,NaN,NaN,NaN
47408,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,5,A Mishra,...,0,0,0,0,0,0,0,A Mishra,obstructing the field,NaN
47409,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,6,K Paul,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [41]:
delivery_df.columns

Index(['match_id', 'city', 'winner', 'total_runs_x', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batsman', 'non_striker', 'bowler',
       'is_super_over', 'wide_runs', 'bye_runs', 'legbye_runs', 'noball_runs',
       'penalty_runs', 'batsman_runs', 'extra_runs', 'total_runs_y',
       'player_dismissed', 'dismissal_kind', 'fielder'],
      dtype='object')

In [42]:
delivery_df.rename(columns={"total_runs_x":"total_runs","total_runs_y":"Ball_score"},inplace=True)

In [43]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,Ball_score,player_dismissed,dismissal_kind,fielder
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,0,0,0,1,0,1,NaN,NaN,NaN
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,0,0,0,2,0,2,NaN,NaN,NaN
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,0,0,0,4,0,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47405,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,2,A Mishra,...,0,0,0,0,1,0,1,NaN,NaN,NaN
47406,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,3,K Paul,...,0,0,0,0,0,0,0,NaN,NaN,NaN
47407,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,4,K Paul,...,0,0,0,0,1,0,1,NaN,NaN,NaN
47408,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,5,A Mishra,...,0,0,0,0,0,0,0,A Mishra,obstructing the field,NaN
47409,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,6,K Paul,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [44]:
delivery_df["score"]=delivery_df[["match_id","Ball_score"]].groupby("match_id").cumsum()["Ball_score"]

In [45]:
delivery_df[["Ball_score","score"]]

       Ball_score  score
0               1      1
1               0      1
2               0      1
3               2      3
4               4      7
...           ...    ...
47405           1    165
47406           0    165
47407           1    166
47408           0    166
47409           4    170

[47410 rows x 2 columns]

In [46]:
delivery_df["target_left"]=(delivery_df["total_runs"]+1)-delivery_df["score"]

In [47]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,...,noball_runs,penalty_runs,batsman_runs,extra_runs,Ball_score,player_dismissed,dismissal_kind,fielder,score,target_left
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,0,1,0,1,NaN,NaN,NaN,1,207
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,0,NaN,NaN,NaN,1,207
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,0,NaN,NaN,NaN,1,207
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,0,2,0,2,NaN,NaN,NaN,3,205
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,0,4,0,4,NaN,NaN,NaN,7,201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47405,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,2,A Mishra,...,0,0,1,0,1,NaN,NaN,NaN,165,7
47406,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,3,K Paul,...,0,0,0,0,0,NaN,NaN,NaN,165,7
47407,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,4,K Paul,...,0,0,1,0,1,NaN,NaN,NaN,166,6
47408,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,5,A Mishra,...,0,0,0,0,0,A Mishra,obstructing the field,NaN,166,6
47409,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,6,K Paul,...,0,0,4,0,4,NaN,NaN,NaN,170,2

In [48]:
delivery_df["Remaining Balls"]=(120 -((delivery_df["over"]-1)*6+delivery_df["ball"]))

In [49]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,...,penalty_runs,batsman_runs,extra_runs,Ball_score,player_dismissed,dismissal_kind,fielder,score,target_left,Remaining Balls
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,1,0,1,NaN,NaN,NaN,1,207,119
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,NaN,NaN,NaN,1,207,118
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,NaN,NaN,NaN,1,207,117
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,2,0,2,NaN,NaN,NaN,3,205,116
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,4,0,4,NaN,NaN,NaN,7,201,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47405,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,2,A Mishra,...,0,1,0,1,NaN,NaN,NaN,165,7,4
47406,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,3,K Paul,...,0,0,0,0,NaN,NaN,NaN,165,7,3
47407,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,4,K Paul,...,0,1,0,1,NaN,NaN,NaN,166,6,2
47408,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,5,A Mishra,...,0,0,0,0,A Mishra,obstructing the field,NaN,166,6,1
47409,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,6,K Paul,...,0,4,0,4,NaN,NaN,NaN,170,2,0

In [50]:
delivery_df["player_dismissed"]=delivery_df["player_dismissed"].fillna("0")

In [51]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,...,penalty_runs,batsman_runs,extra_runs,Ball_score,player_dismissed,dismissal_kind,fielder,score,target_left,Remaining Balls
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,1,0,1,0,NaN,NaN,1,207,119
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,0,NaN,NaN,1,207,118
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,0,NaN,NaN,1,207,117
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,2,0,2,0,NaN,NaN,3,205,116
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,4,0,4,0,NaN,NaN,7,201,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47405,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,2,A Mishra,...,0,1,0,1,0,NaN,NaN,165,7,4
47406,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,3,K Paul,...,0,0,0,0,0,NaN,NaN,165,7,3
47407,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,4,K Paul,...,0,1,0,1,0,NaN,NaN,166,6,2
47408,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,5,A Mishra,...,0,0,0,0,A Mishra,obstructing the field,NaN,166,6,1
47409,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,6,K Paul,...,0,4,0,4,0,NaN,NaN,170,2,0

In [52]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,...,penalty_runs,batsman_runs,extra_runs,Ball_score,player_dismissed,dismissal_kind,fielder,score,target_left,Remaining Balls
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,1,0,1,0,NaN,NaN,1,207,119
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,0,NaN,NaN,1,207,118
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,0,NaN,NaN,1,207,117
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,2,0,2,0,NaN,NaN,3,205,116
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,4,0,4,0,NaN,NaN,7,201,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47405,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,2,A Mishra,...,0,1,0,1,0,NaN,NaN,165,7,4
47406,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,3,K Paul,...,0,0,0,0,0,NaN,NaN,165,7,3
47407,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,4,K Paul,...,0,1,0,1,0,NaN,NaN,166,6,2
47408,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,5,A Mishra,...,0,0,0,0,A Mishra,obstructing the field,NaN,166,6,1
47409,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,6,K Paul,...,0,4,0,4,0,NaN,NaN,170,2,0

In [53]:
delivery_df["player_dismissed"]=delivery_df["player_dismissed"].apply(lambda x:x if x=="0" else "1").astype("int64")

In [54]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,...,penalty_runs,batsman_runs,extra_runs,Ball_score,player_dismissed,dismissal_kind,fielder,score,target_left,Remaining Balls
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,1,0,1,0,NaN,NaN,1,207,119
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,0,NaN,NaN,1,207,118
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,0,NaN,NaN,1,207,117
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,2,0,2,0,NaN,NaN,3,205,116
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,4,0,4,0,NaN,NaN,7,201,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47405,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,2,A Mishra,...,0,1,0,1,0,NaN,NaN,165,7,4
47406,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,3,K Paul,...,0,0,0,0,0,NaN,NaN,165,7,3
47407,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,4,K Paul,...,0,1,0,1,0,NaN,NaN,166,6,2
47408,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,5,A Mishra,...,0,0,0,0,1,obstructing the field,NaN,166,6,1
47409,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,6,K Paul,...,0,4,0,4,0,NaN,NaN,170,2,0

In [55]:
delivery_df[["match_id","player_dismissed"]]

       match_id  player_dismissed
0             1                 0
1             1                 0
2             1                 0
3             1                 0
4             1                 0
...         ...               ...
47405     11413                 0
47406     11413                 0
47407     11413                 0
47408     11413                 1
47409     11413                 0

[47410 rows x 2 columns]

In [56]:
delivery_df["Wickets"]=delivery_df[["match_id","player_dismissed"]].groupby("match_id").cumsum()["player_dismissed"].values

In [57]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,...,batsman_runs,extra_runs,Ball_score,player_dismissed,dismissal_kind,fielder,score,target_left,Remaining Balls,Wickets
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,1,0,1,0,NaN,NaN,1,207,119,0
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,NaN,NaN,1,207,118,0
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,NaN,NaN,1,207,117,0
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,2,0,2,0,NaN,NaN,3,205,116,0
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,4,0,4,0,NaN,NaN,7,201,115,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47405,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,2,A Mishra,...,1,0,1,0,NaN,NaN,165,7,4,6
47406,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,3,K Paul,...,0,0,0,0,NaN,NaN,165,7,3,6
47407,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,4,K Paul,...,1,0,1,0,NaN,NaN,166,6,2,6
47408,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,5,A Mishra,...,0,0,0,1,obstructing the field,NaN,166,6,1,7
47409,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,6,K Paul,...,4,0,4,0,NaN,NaN,170,2,0,7

In [58]:
delivery_df["Wickets"]=10-delivery_df["Wickets"]

In [59]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,...,batsman_runs,extra_runs,Ball_score,player_dismissed,dismissal_kind,fielder,score,target_left,Remaining Balls,Wickets
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,1,0,1,0,NaN,NaN,1,207,119,10
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,NaN,NaN,1,207,118,10
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,NaN,NaN,1,207,117,10
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,2,0,2,0,NaN,NaN,3,205,116,10
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,4,0,4,0,NaN,NaN,7,201,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47405,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,2,A Mishra,...,1,0,1,0,NaN,NaN,165,7,4,4
47406,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,3,K Paul,...,0,0,0,0,NaN,NaN,165,7,3,4
47407,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,4,K Paul,...,1,0,1,0,NaN,NaN,166,6,2,4
47408,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,5,A Mishra,...,0,0,0,1,obstructing the field,NaN,166,6,1,3
47409,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,6,K Paul,...,4,0,4,0,NaN,NaN,170,2,0,3

In [60]:
delivery_df["crr"]=(delivery_df["score"])*6/(120-delivery_df["Remaining Balls"])

In [61]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,...,extra_runs,Ball_score,player_dismissed,dismissal_kind,fielder,score,target_left,Remaining Balls,Wickets,crr
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,1,0,NaN,NaN,1,207,119,10,6.000000
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,NaN,NaN,1,207,118,10,3.000000
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,NaN,NaN,1,207,117,10,2.000000
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,2,0,NaN,NaN,3,205,116,10,4.500000
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,4,0,NaN,NaN,7,201,115,10,8.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47405,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,2,A Mishra,...,0,1,0,NaN,NaN,165,7,4,4,8.534483
47406,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,3,K Paul,...,0,0,0,NaN,NaN,165,7,3,4,8.461538
47407,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,4,K Paul,...,0,1,0,NaN,NaN,166,6,2,4,8.440678
47408,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,5,A Mishra,...,0,0,1,obstructing the field,NaN,166,6,1,3,8.369748
47409,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,6,K Paul,...,0,4,0,NaN,NaN,170,2,0,3,8.500000

In [62]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,...,extra_runs,Ball_score,player_dismissed,dismissal_kind,fielder,score,target_left,Remaining Balls,Wickets,crr
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,1,0,NaN,NaN,1,207,119,10,6.000000
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,NaN,NaN,1,207,118,10,3.000000
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,NaN,NaN,1,207,117,10,2.000000
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,2,0,NaN,NaN,3,205,116,10,4.500000
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,4,0,NaN,NaN,7,201,115,10,8.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47405,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,2,A Mishra,...,0,1,0,NaN,NaN,165,7,4,4,8.534483
47406,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,3,K Paul,...,0,0,0,NaN,NaN,165,7,3,4,8.461538
47407,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,4,K Paul,...,0,1,0,NaN,NaN,166,6,2,4,8.440678
47408,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,5,A Mishra,...,0,0,1,obstructing the field,NaN,166,6,1,3,8.369748
47409,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,6,K Paul,...,0,4,0,NaN,NaN,170,2,0,3,8.500000

Required run rate=Remaining score or Target/Number of Overs left

In [63]:
delivery_df["rrr"]=(delivery_df["target_left"])*6/(delivery_df["Remaining Balls"])

In [64]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,...,Ball_score,player_dismissed,dismissal_kind,fielder,score,target_left,Remaining Balls,Wickets,crr,rrr
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,1,0,NaN,NaN,1,207,119,10,6.000000,10.436975
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,NaN,NaN,1,207,118,10,3.000000,10.525424
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,NaN,NaN,1,207,117,10,2.000000,10.615385
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,2,0,NaN,NaN,3,205,116,10,4.500000,10.603448
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,4,0,NaN,NaN,7,201,115,10,8.400000,10.486957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47405,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,2,A Mishra,...,1,0,NaN,NaN,165,7,4,4,8.534483,10.500000
47406,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,3,K Paul,...,0,0,NaN,NaN,165,7,3,4,8.461538,14.000000
47407,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,4,K Paul,...,1,0,NaN,NaN,166,6,2,4,8.440678,18.000000
47408,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,5,A Mishra,...,0,1,obstructing the field,NaN,166,6,1,3,8.369748,36.000000
47409,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,6,K Paul,...,4,0,NaN,NaN,170,2,0,3,8.500000,inf

In [65]:
#creating a columns result where 1 is means won 0 means lsot
def result(row):
    if row["batting_team"]==row["winner"]:
        return 1
    else:
        return 0

In [66]:
delivery_df["result"]=delivery_df.apply(result,axis=1)

In [67]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,...,player_dismissed,dismissal_kind,fielder,score,target_left,Remaining Balls,Wickets,crr,rrr,result
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,NaN,NaN,1,207,119,10,6.000000,10.436975,0
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,NaN,NaN,1,207,118,10,3.000000,10.525424,0
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,NaN,NaN,1,207,117,10,2.000000,10.615385,0
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,NaN,NaN,3,205,116,10,4.500000,10.603448,0
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,NaN,NaN,7,201,115,10,8.400000,10.486957,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47405,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,2,A Mishra,...,0,NaN,NaN,165,7,4,4,8.534483,10.500000,1
47406,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,3,K Paul,...,0,NaN,NaN,165,7,3,4,8.461538,14.000000,1
47407,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,4,K Paul,...,0,NaN,NaN,166,6,2,4,8.440678,18.000000,1
47408,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,5,A Mishra,...,1,obstructing the field,NaN,166,6,1,3,8.369748,36.000000,1
47409,11413,Visakhapatnam,Delhi Capitals,171,2,Delhi Capitals,Sunrisers Hyderabad,20,6,K Paul,...,0,NaN,NaN,170,2,0,3,8.500000,inf,1

In [68]:
delivery_df.columns

Index(['match_id', 'city', 'winner', 'total_runs', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batsman', 'non_striker', 'bowler',
       'is_super_over', 'wide_runs', 'bye_runs', 'legbye_runs', 'noball_runs',
       'penalty_runs', 'batsman_runs', 'extra_runs', 'Ball_score',
       'player_dismissed', 'dismissal_kind', 'fielder', 'score', 'target_left',
       'Remaining Balls', 'Wickets', 'crr', 'rrr', 'result'],
      dtype='object')

In [69]:
Model_df=delivery_df[["batting_team","bowling_team","city","score","Wickets","Remaining Balls","target_left","crr","rrr","result"]]

In [70]:
Model_df

,batting_team,bowling_team,city,score,Wickets,Remaining Balls,target_left,crr,rrr,result
0,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,1,10,119,207,6.000000,10.436975,0
1,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,1,10,118,207,3.000000,10.525424,0
2,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,1,10,117,207,2.000000,10.615385,0
3,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,3,10,116,205,4.500000,10.603448,0
4,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,7,10,115,201,8.400000,10.486957,0
...,...,...,...,...,...,...,...,...,...,...
47405,Delhi Capitals,Sunrisers Hyderabad,Visakhapatnam,165,4,4,7,8.534483,10.500000,1
47406,Delhi Capitals,Sunrisers Hyderabad,Visakhapatnam,165,4,3,7,8.461538,14.000000,1
47407,Delhi Capitals,Sunrisers Hyderabad,Visakhapatnam,166,4,2,6,8.440678,18.000000,1
47408,Delhi Capitals,Sunrisers Hyderabad,Visakhapatnam,166,3,1,6,8.369748,36.000000,1
47409,Delhi Capitals,Sunrisers Hyderabad,Visakhapatnam,170,3,0,2,8.500000,inf,1

In [71]:
Model_df.isnull().sum()

batting_team         0
bowling_team         0
city               594
score                0
Wickets              0
Remaining Balls      0
target_left          0
crr                  0
rrr                  1
result               0
dtype: int64

In [72]:
Model_df[Model_df["city"].isna()]

,batting_team,bowling_team,city,score,Wickets,Remaining Balls,target_left,crr,rrr,result
25001,Royal Challengers Bangalore,Mumbai Indians,NaN,0,10,119,116,0.000000,5.848739,1
25002,Royal Challengers Bangalore,Mumbai Indians,NaN,4,10,118,112,12.000000,5.694915,1
25003,Royal Challengers Bangalore,Mumbai Indians,NaN,5,10,117,111,10.000000,5.692308,1
25004,Royal Challengers Bangalore,Mumbai Indians,NaN,7,10,116,109,10.500000,5.637931,1
25005,Royal Challengers Bangalore,Mumbai Indians,NaN,7,10,115,109,8.400000,5.686957,1
...,...,...,...,...,...,...,...,...,...,...
26386,Mumbai Indians,Sunrisers Hyderabad,NaN,154,3,4,19,7.965517,28.500000,0
26387,Mumbai Indians,Sunrisers Hyderabad,NaN,154,3,3,19,7.897436,38.000000,0
26388,Mumbai Indians,Sunrisers Hyderabad,NaN,155,3,2,18,7.881356,54.000000,0
26389,Mumbai Indians,Sunrisers Hyderabad,NaN,156,3,1,17,7.865546,102.000000,0
26390,Mumbai Indians,Sunrisers Hyderabad,NaN,157,3,0,16,7.850000,inf,0

In [73]:
Model_df.dropna(inplace=True)

C:\Users\malot\AppData\Local\Temp\ipykernel_16512\2202708226.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Model_df.dropna(inplace=True)

In [74]:
Model_df.isnull().sum()

batting_team       0
bowling_team       0
city               0
score              0
Wickets            0
Remaining Balls    0
target_left        0
crr                0
rrr                0
result             0
dtype: int64

In [75]:
Model_df.describe()

C:\Users\malot\Downloads\anaconda\Lib\site-packages\numpy\core\_methods.py:49: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)

,score,Wickets,Remaining Balls,target_left,crr,rrr,result
count,46815.000000,46815.000000,46815.000000,46815.000000,46815.000000,4.681500e+04,46815.000000
mean,73.440564,7.554737,62.881320,93.732543,7.482534,NaN,0.531347
std,47.029055,2.141477,33.348098,50.643588,2.261343,NaN,0.499022
min,0.000000,0.000000,-2.000000,-9.000000,0.000000,-inf,0.000000
25%,34.000000,6.000000,35.000000,54.000000,6.305604,7.185185e+00,0.000000
50%,70.000000,8.000000,64.000000,93.000000,7.541284,8.943396e+00,1.000000
75%,109.000000,9.000000,92.000000,132.000000,8.727273,1.107454e+01,1.000000
max,223.000000,10.000000,119.000000,250.000000,42.000000,inf,1.000000

In [76]:
Model_df=Model_df[Model_df["Remaining Balls"]!=0]

In [77]:
Model_df.describe()

,score,Wickets,Remaining Balls,target_left,crr,rrr,result
count,46664.000000,46664.000000,46664.000000,46664.000000,46664.000000,46664.000000,46664.000000
mean,73.163038,7.569861,63.084798,93.964212,7.480988,10.626734,0.532766
std,46.831203,2.126400,33.209302,50.550596,2.263815,14.649857,0.498931
min,0.000000,0.000000,-2.000000,-9.000000,0.000000,-516.000000,0.000000
25%,34.000000,6.000000,35.000000,54.000000,6.300000,7.178571,0.000000
50%,69.000000,8.000000,64.000000,93.000000,7.540541,8.936170,1.000000
75%,109.000000,9.000000,92.000000,132.000000,8.727273,11.032258,1.000000
max,222.000000,10.000000,119.000000,250.000000,42.000000,684.000000,1.000000

In [78]:
Model_df=Model_df.sample(Model_df.shape[0])

In [79]:
Model_df.sample()

,batting_team,bowling_team,city,score,Wickets,Remaining Balls,target_left,crr,rrr,result
13229,Royal Challengers Bangalore,Mumbai Indians,Mumbai,82,6,60,103,8.2,10.3,0

In [80]:
x=Model_df.iloc[:,:-1]
y=Model_df.iloc[:,-1]

In [81]:
x

,batting_team,bowling_team,city,score,Wickets,Remaining Balls,target_left,crr,rrr
40018,Mumbai Indians,Royal Challengers Bangalore,Bengaluru,59,7,76,115,8.045455,9.078947
41909,Royal Challengers Bangalore,Rajasthan Royals,Jaipur,115,2,21,60,6.969697,17.142857
8796,Royal Challengers Bangalore,Kolkata Knight Riders,Centurion,4,10,112,170,3.000000,9.107143
12350,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,99,8,44,62,7.815789,8.454545
36795,Delhi Daredevils,Mumbai Indians,Visakhapatnam,19,9,104,188,7.125000,10.846154
...,...,...,...,...,...,...,...,...,...
29295,Kings XI Punjab,Delhi Daredevils,Chandigarh,61,8,77,55,8.511628,4.285714
34145,Sunrisers Hyderabad,Royal Challengers Bangalore,Bangalore,37,9,98,191,10.090909,11.693878
13645,Kolkata Knight Riders,Rajasthan Royals,Jaipur,16,9,107,144,7.384615,8.074766
8892,Royal Challengers Bangalore,Kolkata Knight Riders,Centurion,126,6,22,48,7.714286,13.090909
40883,Kolkata Knight Riders,Mumbai Indians,Kolkata,76,3,58,142,7.354839,14.689655

In [82]:
y

40018    0
41909    0
8796     1
12350    1
36795    0
        ..
29295    1
34145    0
13645    1
8892     1
40883    0
Name: result, Length: 46664, dtype: int64

In [83]:
from sklearn.model_selection import  train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [84]:
x_train

,batting_team,bowling_team,city,score,Wickets,Remaining Balls,target_left,crr,rrr
40680,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,126,5,18,30,7.411765,10.000000
12727,Delhi Daredevils,Mumbai Indians,Mumbai,128,3,9,56,6.918919,37.333333
22140,Kings XI Punjab,Mumbai Indians,Mumbai,12,10,110,163,7.200000,8.890909
32493,Delhi Daredevils,Rajasthan Royals,Mumbai,72,7,53,118,6.447761,13.358491
44041,Sunrisers Hyderabad,Mumbai Indians,Hyderabad,47,7,76,96,6.409091,7.578947
...,...,...,...,...,...,...,...,...,...
30266,Mumbai Indians,Kings XI Punjab,Mumbai,126,4,13,52,7.065421,24.000000
42150,Mumbai Indians,Delhi Daredevils,Delhi,130,3,24,57,8.125000,14.250000
3678,Rajasthan Royals,Kings XI Punjab,Jaipur,52,7,88,115,9.750000,7.840909
22363,Sunrisers Hyderabad,Mumbai Indians,Hyderabad,128,7,14,2,7.245283,0.857143
10304,Royal Challengers Bangalore,Kings XI Punjab,Bangalore,149,8,30,55,9.933333,11.000000

In [85]:
x_test

,batting_team,bowling_team,city,score,Wickets,Remaining Balls,target_left,crr,rrr
45135,Mumbai Indians,Royal Challengers Bangalore,Mumbai,152,6,14,28,8.603774,12.000000
14413,Delhi Daredevils,Kolkata Knight Riders,Delhi,100,4,23,49,6.185567,12.782609
555,Mumbai Indians,Sunrisers Hyderabad,Mumbai,129,6,27,30,8.322581,6.666667
12853,Royal Challengers Bangalore,Mumbai Indians,Bangalore,21,10,97,171,5.478261,10.577320
25984,Delhi Daredevils,Mumbai Indians,Sharjah,81,8,41,45,6.151899,6.585366
...,...,...,...,...,...,...,...,...,...
22345,Sunrisers Hyderabad,Mumbai Indians,Hyderabad,102,8,31,28,6.876404,5.419355
2120,Mumbai Indians,Royal Challengers Bangalore,Mumbai,48,9,88,115,9.000000,7.840909
32114,Rajasthan Royals,Mumbai Indians,Mumbai,4,10,115,184,4.800000,9.600000
26178,Kolkata Knight Riders,Rajasthan Royals,Abu Dhabi,35,9,81,118,5.384615,8.740741
18704,Mumbai Indians,Royal Challengers Bangalore,Bangalore,7,8,105,165,2.800000,9.428571

In [86]:
y_train

40680    0
12727    0
22140    0
32493    0
44041    0
        ..
30266    0
42150    0
3678     1
22363    1
10304    1
Name: result, Length: 37331, dtype: int64

In [87]:
y_test

45135    1
14413    0
555      1
12853    0
25984    1
        ..
22345    1
2120     1
32114    0
26178    0
18704    1
Name: result, Length: 9333, dtype: int64

In [112]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [117]:
trf=ColumnTransformer([
    ("trf",OneHotEncoder(drop="first"),
     ["batting_team","bowling_team","city"])
   
                 ],remainder="passthrough")

In [119]:
trf

ColumnTransformer(remainder='passthrough',
                  transformers=[('trf', OneHotEncoder(drop='first'),
                                 ['batting_team', 'bowling_team', 'city'])])

In [120]:
#building the model for logistic regression
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [121]:
pipe=Pipeline(steps=[("step1",trf),
                     ("step2",LogisticRegression(solver="liblinear"))
                    ])

In [123]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first'),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [125]:
Y_prediction=pipe.predict(x_test)

In [126]:
Y_prediction

array([1, 1, 0, ..., 0, 1, 1], dtype=int64)

In [127]:
#accuracy socre 
from sklearn.metrics import accuracy_score

In [128]:
accuracy_score(y_test,Y_prediction)

0.8190292510446802

In [129]:
#exporting model
import pickle as pkl

In [130]:
pkl.dump(pipe,open("model.pkl","wb"))

In [131]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Kings XI Punjab',
 'Chennai super kings',
 'Rajasthan Royals',
 'Delhi Capitals']

In [132]:
pkl.dump(teams,open("team.pkl","wb"))

In [133]:
cities=list(Model_df["city"].unique())

In [134]:
cities

['Bengaluru',
 'Jaipur',
 'Centurion',
 'Bangalore',
 'Visakhapatnam',
 'Mumbai',
 'Delhi',
 'Hyderabad',
 'Kolkata',
 'Chandigarh',
 'Mohali',
 'Pune',
 'Ranchi',
 'Durban',
 'Port Elizabeth',
 'Ahmedabad',
 'Cape Town',
 'Indore',
 'Johannesburg',
 'Abu Dhabi',
 'East London',
 'Dharamsala',
 'Raipur',
 'Chennai',
 'Sharjah',
 'Bloemfontein',
 'Cuttack']

In [135]:
pkl.dump(cities,open("city.pkl","wb"))

In [136]:
Model_df.columns

Index(['batting_team', 'bowling_team', 'city', 'score', 'Wickets',
       'Remaining Balls', 'target_left', 'crr', 'rrr', 'result'],
      dtype='object')